@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/beau-paysage-avec-des-aurores-boreales.jpg');
      background-size: cover;                      
      background-repeat: no-repeat;  
      height: 100vh;
      margin: 0;
      background-attachment: fixed;
      background-position: 40% 50%;
      font-family: "Outfit", sans-serif;
}

.TitreAcceuil {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    font-size: 70px;
    color: #FFFFFF;
    text-align: center;
}

.TexteAcceuil {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.BullesTexte1 { 
    margin-top: 50px;
    text-align: center;
}

.BullesTexte1 p {
    margin: 30px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 20px;
}


.bottom-nav { 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}

.bottom-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
 }  

  
        